USE [MyProject]

GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/7/2024 5:30:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[fullName] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone] [nchar](10) NOT NULL,
	[location] [nvarchar](50) NOT NULL,
	[roleID] [int] NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/7/2024 5:30:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 3/7/2024 5:30:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetaiID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[UserID] [int] NOT NULL,
	[LocationOrder] [nvarchar](max) NOT NULL,
	[status] [int] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[PayMethodID] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 3/7/2024 5:30:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[OrderDetailD] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quanity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayMethod]    Script Date: 3/7/2024 5:30:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayMethod](
	[PayID] [int] NOT NULL,
	[PayName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PayMethod] PRIMARY KEY CLUSTERED 
(
	[PayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/7/2024 5:30:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[productName] [nvarchar](50) NOT NULL,
	[price] [float] NULL,
	[img] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[categoryID] [int] NOT NULL,
	[saleID] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/7/2024 5:30:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[roleID] [int] NOT NULL,
	[roleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 3/7/2024 5:30:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[saleID] [int] NOT NULL,
	[salePersen] [int] NOT NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[saleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([userID], [username], [password], [fullName], [email], [phone], [location], [roleID]) VALUES (1, N'DatLd', N'123456', N'Lê Đức Đạt', N'datld@gmail.com', N'0913540430', N'Hải Phòng', 0)
INSERT [dbo].[Account] ([userID], [username], [password], [fullName], [email], [phone], [location], [roleID]) VALUES (2, N'janeDoe', N'password456', N'Trần Thị B', N'janedoe@example.com', N'0987654321', N'Hà Nội', 0)
INSERT [dbo].[Account] ([userID], [username], [password], [fullName], [email], [phone], [location], [roleID]) VALUES (3, N'guestUser', N'guestpass', N'Lê C', N'guest@example.com', N'1122334455', N'Đà Nẵng', 0)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([categoryID], [categoryName]) VALUES (1, N'iphone')
INSERT [dbo].[Category] ([categoryID], [categoryName]) VALUES (2, N'SamSung')
INSERT [dbo].[Category] ([categoryID], [categoryName]) VALUES (3, N'Redmi')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderDetaiID], [OrderDate], [UserID], [LocationOrder], [status], [comment], [PayMethodID]) VALUES (1, CAST(N'2024-03-06' AS Date), 6, N'Hoa Lu Ninh Binh', 1, NULL, 2)
INSERT [dbo].[OrderDetail] ([OrderDetaiID], [OrderDate], [UserID], [LocationOrder], [status], [comment], [PayMethodID]) VALUES (2, CAST(N'2024-03-06' AS Date), 12, N'Hoa Lu Ninh Binh', 0, NULL, 1)
INSERT [dbo].[OrderDetail] ([OrderDetaiID], [OrderDate], [UserID], [LocationOrder], [status], [comment], [PayMethodID]) VALUES (3, CAST(N'2024-03-06' AS Date), 6, N'Quynh Phu - Thai Binh', 1, N'đơn hàng đã xử lí', 2)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
INSERT [dbo].[OrderItem] ([OrderDetailD], [ProductID], [Quanity]) VALUES (1, 1, 2)
INSERT [dbo].[OrderItem] ([OrderDetailD], [ProductID], [Quanity]) VALUES (2, 1, 2)
INSERT [dbo].[OrderItem] ([OrderDetailD], [ProductID], [Quanity]) VALUES (3, 1, 3)
GO
INSERT [dbo].[PayMethod] ([PayID], [PayName]) VALUES (1, N'direct payment')
INSERT [dbo].[PayMethod] ([PayID], [PayName]) VALUES (2, N'transfer')
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([productID], [productName], [price], [img], [description], [categoryID], [saleID]) VALUES (1, N'Iphone 13 Pro', 1200, N'https://cdn11.dienmaycholon.vn/filewebdmclnew/DMCL21/Picture//Apro/Apro_product_27028/iphone-13-pro-m_main_193_1020.png.webp', N'Iphone 13 siêu vip pro', 1, 1)
INSERT [dbo].[Product] ([productID], [productName], [price], [img], [description], [categoryID], [saleID]) VALUES (2, N'Samsung Galaxy S21', 1100, N'https://cdn.tgdd.vn/Products/Images/42/220833/samsung-galaxy-s21-tim-600x600.jpg', N'Samsung flagship', 2, 1)
INSERT [dbo].[Product] ([productID], [productName], [price], [img], [description], [categoryID], [saleID]) VALUES (3, N'Redmi Note 10', 400, N'https://cdn.tgdd.vn/Products/Images/42/222758/xiaomi-redmi-note-10-thumb-white-200x200.jpg', N'Redmi giá trị tốt', 3, 5)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[Roles] ([roleID], [roleName]) VALUES (0, N'User')
INSERT [dbo].[Roles] ([roleID], [roleName]) VALUES (1, N'Admin')
GO
INSERT [dbo].[Sale] ([saleID], [salePersen]) VALUES (0, 0)
INSERT [dbo].[Sale] ([saleID], [salePersen]) VALUES (1, 10)
INSERT [dbo].[Sale] ([saleID], [salePersen]) VALUES (2, 20)
GO
ALTER TABLE [dbo].[OrderDetail] ADD  CONSTRAINT [DF_OrderDetail_OrderDate]  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[OrderDetail] ADD  CONSTRAINT [DF_OrderDetail_status]  DEFAULT ((-1)) FOR [status]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Role] FOREIGN KEY([roleID])
REFERENCES [dbo].[Roles] ([roleID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Role]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Account] FOREIGN KEY([UserID])
REFERENCES [dbo].[Account] ([userID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Account]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_OrderDetail-PayMethod] FOREIGN KEY([PayMethodID])
REFERENCES [dbo].[PayMethod] ([PayID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_OrderDetail-PayMethod]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_OrderDetail1] FOREIGN KEY([OrderDetailD])
REFERENCES [dbo].[OrderDetail] ([OrderDetaiID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_OrderDetail1]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Category] FOREIGN KEY([categoryID])
REFERENCES [dbo].[Category] ([categoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_sale] FOREIGN KEY([saleID])
REFERENCES [dbo].[Sale] ([saleID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_sale]
GO
